<lf-form path="/reservation-details">
  <lf-text path="name"></lf-text>
  <lf-text path="email"></lf-text>
  <lf-text path="phone-number"></lf-text>

  <div class="row">
    <div class="col-sm-8 mb-3">
      <lf-date-range path="check-in-out"></lf-date-range>
    </div>
    <div class="col-sm-4 mb-3">
      <lf-number path="check-in-hour"></lf-number>
    </div>
  </div>

  <lf-table path="accommodation">
    <lf-table-header>
      <lf-table-column
        id="index"
        [fixed]="true"
        [minWidth]="60"
      ></lf-table-column>
      <lf-table-column id="room-type"></lf-table-column>
      <lf-table-column id="smoking-room"></lf-table-column>
    </lf-table-header>

    <ng-template #lfTableRowTemplate let-id="id" let-i="index">
      <tr lf-table-row [path]="id">
        <td lf-table-cell>{{ i + 1 }}</td>
        <td lf-table-cell><lf-select path="room-type"></lf-select></td>
        <td lf-table-cell><lf-checkbox path="smoking-room"></lf-checkbox></td>
      </tr>
    </ng-template>
  </lf-table>

  <lf-textarea path="special-requests"></lf-textarea>
</lf-form>
