<lf-app>
  <!-- Top-bar of the application -->
  <lf-top-bar [actions]="actions">
    <!-- Title -->
    <lf-i18n key="label"></lf-i18n>
  </lf-top-bar>

  <!-- Tree-nav -->
  <lf-tree-nav></lf-tree-nav>

  <!-- Content -->
  <router-outlet></router-outlet>
</lf-app>

<lf-modal #finalizeModal size="lg">
  <lf-modal-header>
    <lf-i18n key="finalizeModalTitle"></lf-i18n>
  </lf-modal-header>
  <lf-modal-body></lf-modal-body>
  <lf-modal-footer>
    <button lf-button style="success">
      <lf-i18n key="actionsMenu.finalize"></lf-i18n>
    </button>
  </lf-modal-footer>
</lf-modal>
