<lf-form path = "reservationDetails">
    <div class="row">
      <div class="col-sm-4">
        <!--TODO CP2: create lf-text element for the email -->
      </div>
     <div class="col-sm-4">
       <!--TODO CP2: create lf-number element for the phone number -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!--TODO CP2: create lf-date-range element for the check in/out dates -->
     </div>
      <div class="col-sm-2">
        <!--TODO CP2: create lf-number element for the hour of arrival -->
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!--TODO CP2: create lf-number element for the flight number -->
      </div>
    </div>
</lf-form>
