<lf-form path = "reservationDetails">
    <div class="row">
      <div class="col-sm-4">
        <lf-text path = "email"></lf-text>
      </div>
     <div class="col-sm-4">
        <lf-number path = "phoneNumber"></lf-number>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <lf-date-range path = "checkInOut" ></lf-date-range>
     </div>
      <div class="col-sm-2">
        <lf-number path = "hourOfArrival" ></lf-number>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <lf-number path = "flightNumber" ></lf-number>
      </div>
    </div>
</lf-form>
