<lf-form path="guests/{{index}}/otherServices">
  <div class="row">
    <div class="col-sm-6">
      <lf-radio path="h1Radio" [displayInline]="true"></lf-radio> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <lf-radio path="h2Radio" [displayInline]="true"></lf-radio> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <lf-number path="h3Number"></lf-number> 
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <!--TODO CP2: Let's create totalGymPrice element-->
    </div>
  </div>
</lf-form>